<div class="course-wrapper">
    <div class="course__image">
        <img src="<%= locals.course.course_imgSrc %>">
    </div>
    <div class="course__info">
        <a href="/course/<%= locals.course.course_id %>" class="course__info-name"><%= locals.course.course_name %></a>
        <div class="course__info-rating">
            <%- include('../templates/stars.ejs', {value: locals.course.course_rating, max: 5}); %>
            <span class="comments-count"> (<%= course.course_reviews.length %> відгуків)</span>
        </div>
        <div class="course__info-description"><%= locals.course.course_description %></div>
    </div>
</div>
