<div class="course-wrapper">
    <div class="course__image">
        <img src="<%= locals.course.courseImageSrc %>">
    </div>
    <div class="course__info">
        <a href="<%= locals.course.courseLink %>" class="course__info-name"><%= locals.course.courseInfoName %></a>
        <div class="course__info-rating"><%= locals.course.courseInfoRating %></div>
        <div class="course__info-description"><%= locals.course.courseInfoDescription %></div>
        <a href="<%= locals.course.lectorLink %>" class="course__info-lector"><%= locals.course.courseInfoLector %></a>
    </div>
</div>
