<div class="course-wrapper">
    <div class="course__image">
        <img src="<%= locals.course.photo_url %>">
    </div>
    <div class="course__info">
        <a href="/course/<%= locals.course.id %>" class="course__info-name"><%= locals.course.subject_name %></a>
        <div class="course__info-rating">
            <%- include('../templates/stars.ejs', {value: locals.course.rating, max: 5}); %>
            <span class="comments-count"> (<%= 0 %> відгуків)</span>
        </div>
        <div class="course__info-description"><%= locals.course.description %></div>
    </div>
</div>
