<%- include('../common/page-top-layout.ejs', {classes:"transparent"}); %>

<link rel="stylesheet" type="text/css" href="/styles/index.css">

<section class="sectionTop">
    <div class="container text-center">
        <div class="sectionTop-title">Не можеш обрати на що записатися?</div>

        <div class="input-group mb-3 search-container">
            <input type="text" class="form-control" placeholder="Знайти предмет">
            <div class="input-group-append">
                <button class="btn btn-purple" type="button">ШУКАТИ</button>
            </div>
        </div>
    </div>
</section>
<section class="sectionCourses">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="sectionCourses__leftCol">
                    <form method="get">
                        <div class="filterBlock">
                            <label for="facultyInput">Факультет</label>
                            <select id="facultyInput" name="faculty">
                                <option selected value>- Не вибрано -</option>
                                <% filterConfig.faculties.forEach((fac) => { %>
                                    <% let selected = filterConfig.selectedArgs.faculty === fac.name; %>
                                    <option
                                            value="<%= fac.name %>"
                                            <% if(selected) { %>selected
                                            <% } %>
                                    >
                                        <%= fac.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="filterBlock">
                            <label for="facultyInput">Теги</label>
                        </div>
                        <div class="filterBlock">
                            <label for="creditsInput">Кредити</label>
                            <div class="creditsBlock-flex">
                                <input type="range" name="credits" id="creditsInput"
                                       min="<%= filterConfig.credits.min %>"
                                       max="<%= filterConfig.credits.max %>"
                                       value="<%= filterConfig.selectedArgs.credits? filterConfig.selectedArgs.credits : filterConfig.credits.max %>"
                                       step="<%= filterConfig.credits.step %>"
                                       oninput="creditsOutput.value = creditsInput.value">
                                <output class="creditsValue" name="ageOutputName" id="creditsOutput">
                                    <%= filterConfig.selectedArgs.credits? filterConfig.selectedArgs.credits : filterConfig.credits.max %>
                                </output>
                            </div>

                        </div>
                        <div class="filterBlock">
                            <label for="trymesterInput">Триместр</label>
                            <select id="trymesterInput" name="trimester">
                                <option selected value>- Не вибрано -</option>
                                <% filterConfig.trymesters.forEach((trym) => { %>
                                    <% let selected = filterConfig.selectedArgs.trimester === trym; %>
                                    <option
                                            value="<%= trym %>"
                                            <% if(selected) { %>selected
                                            <% } %>
                                    >
                                        <%= trym %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <% if (locals.user.role === "student") { %>
                            <div class="filterBlock">
                                <label for="typesInput">Тип</label>
                                <select id="typesInput" name="subject_type">
                                    <option selected value>- Не вибрано -</option>
                                    <% filterConfig.types.forEach((type) => { %>
                                        <% let selected = filterConfig.selectedArgs.subject_type === type; %>
                                        <option
                                                value="<%= type %>"
                                                <% if(selected) { %>selected
                                                <% } %>
                                        >
                                            <%= type %>
                                        </option>
                                    <% }); %>
                                </select>
                            </div>
                        <% } %>
                        <button class="btn btn-block btn-purple">Застосувати</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="sectionCourses__rightCol">
                    <div class="coursesContainer">
                        <% locals.courses.forEach(function (course) { %>
                            <%- include('../templates/course-template.ejs', {course: course}); %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../common/page-bottom-layout.ejs %>


