<%- include('../common/page-top-layout.ejs', {classes:"transparent"}); %>

<link rel="stylesheet" type="text/css" href="/styles/profile.css">

<section class="sectionTop">
    <div class="container">
        <div class="row">
            <div class="col-12 profile-wrapper">
                <div class="profile__image">
                    <img src="<%= locals.user.model.photo_link %>">
                </div>
                <div class="profile__info">
                    <div class="profile__info-name"><%= locals.user.model.full_name %></div>
                    <div class="profile__info-role"><%= locals.user.role %></div>

                    <% if (locals.user.role === 'teacher') { %>
                        <div class="profile__info-position"><%= locals.user.model.position %></div>
                        <div class="profile__info-faculty"><%= locals.user.model.science_degree %></div>
                    <% } else { %>

                    <% } %>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top: 40px">
            <a href="/user/logout" style="padding: 5px 20px" class="btn btn-danger">Вийти з системи</a>
        </div>
    </div>
</section>
<section class="sectionProfile">
    <div class="container">
        <% if (locals.user.role === 'student') { %>
            <div class="tags-select__container">
                <h3 class="tags-select__title">Оберіть теги, які найкраще описують ваші інтереси</h3>

                <form class="tags-select__form" method="post" action="/user/profile/update-tags">
                    <select class="form-control tags-select" name="tags" multiple="multiple">
                        <% locals.tags.forEach(function (tag) { %>
                            <option value="<%= tag.id %>"
                                    <% if (tag.selected) { %>selected
                                    <% } %>
                            ><%= tag.name %></option>
                        <% }) %>
                    </select>
                    <button type="submit" class="btn btn-primary">Підтвердити вибір</button>
                </form>
            </div>
        <% } %>
    </div>
</section>

<% include ../common/page-bottom-layout.ejs %>


